<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/yma"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Learning3"
        tools:targetApi="31">
        <activity
            android:name=".FfffActivity"
            android:exported="false" />
        <activity
            android:name=".Flags"
            android:exported="false" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".ablution"
            android:exported="false" />
        <activity
            android:name=".page1"
            android:exported="false" /> <!-- واجهة البداية: major -->
        <activity
            android:name=".major"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".myapplication"
            android:exported="false" />
        <activity
            android:name=".math"
            android:exported="false" />
        <activity android:name=".GameActivity" />
        <activity
            android:name=".InteractiveModeActivity"
            android:exported="false" />
        <activity
            android:name=".NumAction"
            android:exported="false" />
        <activity
            android:name=".NewDrawing"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".languagaaa"
            android:exported="false" />
        <activity
            android:name=".languagarabe"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>